/********************************************

            NORMALIZE

********************************************/

html { 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body { margin: 0; }

/* HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {  display: block; }
audio, canvas, progress, video {  display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }
audio:not([controls]) {  display: none; height: 0; }
[hidden], template {  display: none; }

/* Links
   ========================================================================== */

a {  background-color: transparent; }
a:active, a:hover {  outline: 0; }

/* Text-level semantics
   ========================================================================== */

abbr[title] {  border-bottom: 1px dotted; }
b, strong {  font-weight: bold; }
dfn {  font-style: italic; }
mark {  background: #ff0; color: #000; }
small {  font-size: 80%; }
sub, sup {  font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {  top: -0.5em; }
sub {  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */

img {border: 0; }
svg:not(:root) { overflow: hidden; }

/* Grouping content
   ========================================================================== */

figure { margin: 1em 40px; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms
   ========================================================================== */

button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], /* 1 */ input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }
textarea { overflow: auto; }
optgroup { font-weight: bold; }

/* Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

/********************************************

            CORAIL

********************************************/

/*fonts*/
html {
  font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
}
h1, h2, h3, h4, h5, h6,
nav, .more, .share {
  font-family: 'Arvo', Cambria, Georgia, Times, Times New Roman, serif;
}
code
{
  font-size: 14px;
}
time {
  font-family: Helvetica, sans-serif;
  color: grey;
}
/**/

*, *:before, *:after {
  box-sizing: inherit;
}
@-webkit-keyframes fadeIn { from {opacity: 0;filter: alpha(opacity=0);} to {opacity: 1;filter: alpha(opacity=100);} }
@keyframes fadeIn { from {opacity: 0;filter: alpha(opacity=0);} to {opacity: 1;filter: alpha(opacity=100);} }
html {
  
  background: hsl(36, 42%,99.5%);
  font-size: 21px;
  line-height: 1.5;
  color: hsl(0, 0%, 40%);
  fill: hsl(0, 0%, 40%);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*centering*/
main, body>header {
  margin: 0 auto;
  width: 100%;
  max-width: 35em;
  padding: 0 .5em;
}
@media (min-width: 30em) {
  main, body>header {
    padding: 0 1.5em;
  }
}
/**/

/* title sizes */
@media (max-width: 30em) {
  h1,h2,h3 { font-size: 1em; }
}
@media (min-width: 30em) {
  :not(.home-template)>body>header h1 {
    font-size: 1.5em;
  }
  .post-content>h1 {
    font-size: 2em;
  }
}
/**/

.blog-nav {
  padding: .5em;
}
@media (min-width: 30em) {
  .blog-nav {
    padding: 1em 1.5em;
  }
}
.home-template>.blog-nav {
  display: none;
}
.blog-name
{
  margin-top: 1em;
  margin-bottom: 2em;
}
nav a, h1 a {
  color: inherit;
  fill: inherit;
}
h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 30%);
  fill: hsl(0, 0%, 30%);
  margin-bottom: .5em;
}
h1 a {
  border-bottom: none;
}
a, h1 a:hover {
  color: #FF6363;
  fill: #FF6363;
}
a, a:hover {
  text-decoration: none;
  border-bottom: 1px solid #FF6363;
}
h1 a:hover {
  border-bottom: none;
}
a svg {
  vertical-align: middle;
  width: .9em;
  height: .9em;
  fill: inherit;
  top: -0.06em;
  position: relative;
}
time {
  font-weight: lighter;
  font-size: .7em;
}
article {
  margin: 2em 0;
}
article footer {
  text-align: right;
  font-size: .8em;
}
article footer a {
  border-bottom: none;
}
.post-content img {
  max-width: 100%;
}
.post-content hr {
  margin: 2em 2em;
  background: #FF6363;
  height: 1px;
  border: none;
}

.post-content footer {
  margin: 3em 0 6em 0;
}
.post-content time {
  font-family: inherit;
  font-size: .9em;
}
.post-content a {
  border-bottom: none;
}
.post-content a:hover {
  border-bottom: 1px solid #FF6363;
}
.share {
  font-size: smaller;
  float: right;
}
.share a {
  border-bottom: none;
}
.share a>svg {
  width: 2em;
  height: 2em;
  margin-left: .5em;
}
.blog-footer {
  margin-top: 8em;
  padding: 2em;
  /*text-align: right;*/
  font-weight: lighter;
  font-size: smaller;
  /*color: white;*/
  background: hsl(36, 12%,94%);
}
/** flex **/
.blog-footer
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.powered {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
}
.logo, .logo:hover {
  border-bottom: none;
}
.powered a {
  border-bottom: none;
}
.logo img{ width: 3em; vertical-align: middle; margin-right: 2em; }


/********************************************

            PRISM

********************************************/
code[class*=language-],pre[class*=language-]{color:#000;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono',monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#a67f59;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.function{color:#DD4A68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}